<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    


    <ul class='tagUl'>
        <li class='tagsLi'>elemento 1</li>
        <li class='tagsLi'>elemento 2</li>
        <li class='tagsLi'>elemento 3</li>
        <li class='tagsLi'>elemento 4</li>
        <li class='tagsLi'>elemento 5</li>
    </ul>
    
    <ul class='tagUl'>
        <li class='tagsLi'>elemento 1</li>
        <li class='tagsLi'>elemento 2</li>
        <li class='tagsLi'>elemento 3</li>
        <li class='tagsLi'>elemento 4</li>
        <li class='tagsLi'>elemento 5</li>
    </ul>


</body>
</html>



<style>

.tagUl{

 display: flex;
    padding: 0;
    margin: 0;
}

.tagsLi{
    display: flex;
    background: green;
    color: white;
    width: 100%;
    padding: 7px;
}

</style>
